# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# yii console command
/yii

/backend/config
/backend/runtime
/backend/runtime/debug/*
/backend/web/uploads/*
/common/config
/console/config
/console/runtime
/frontend/config
/common/runtime/*
/tests/java/src/test/resources/seostatic_entity/random/*

*.sql
*.log
