RewriteEngine On

RewriteRule ^advanced/backend/web/index-test.php$ index-test.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]